.photo-galery{
	font-size: 0;
}

.photo-galery{
	font-size: 0;
}

.photo{
	border: 1px solid green;
	height: 150px;
	width: 120px;
	display: inline-block;
	vertical-align: top;
}
img{
	width: 100%;
}